awscli==1.16.229
botocore==1.12.219
certifi==2019.6.16
chardet==3.0.4
codegen==1.0
colorama==0.3.9
defusedxml==0.6.0
Django==2.2.4
django-braces==1.13.0
django-cors-headers==3.1.0
django-cors-middleware==1.4.0
django-environ==0.4.5
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.3.0
docutils==0.15.2
future==0.17.1
idna==2.8
jmespath==0.9.4
oauthlib==3.1.0
patterns==0.3
psycopg2==2.8.3
pyasn1==0.4.6
PyJWT==1.7.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==3.4.2
s3transfer==0.2.1
serializers==0.2.4
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
urllib3==1.25.3
